<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/comparison.css">
</head>
<body>
    <section class="price-comparison">
        <div class="price-column">
          <div class="price-header">
            <div class="price">
              <div class="dollar-sign">$</div>
              10
              <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Basic</div>
          </div>
          <div class="divider"></div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature A
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature B
          </div>
          <div class="feature inactive">
            <img src="x-square.svg">
            Feature C
          </div>
          <div class="feature inactive">
            <img src="x-square.svg">
            Feature D
          </div>
          <div class="feature inactive">
            <img src="x-square.svg">
            Feature E
          </div>
          <div class="feature inactive">
            <img src="x-square.svg">
            Feature F
          </div>
          <button class="cta">Start Today</button>
        </div>
        <div class="price-column popular">
          <div class="most-popular">Most Popular</div>
          <div class="price-header">
            <div class="price">
              <div class="dollar-sign">$</div>
              20
              <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Professional</div>
          </div>
          <div class="divider"></div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature A
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature B
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature C
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature D
          </div>
          <div class="feature inactive">
            <img src="x-square.svg">
            Feature E
          </div>
          <div class="feature inactive">
            <img src="x-square.svg">
            Feature F
          </div>
          <button class="cta">Start Today</button>
        </div>
        <div class="price-column">
          <div class="price-header">
            <div class="price">
              <div class="dollar-sign">$</div>
              50
              <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Enterprise</div>
          </div>
          <div class="divider"></div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature A
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature B
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature C
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature D
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature E
          </div>
          <div class="feature">
            <img src="check-circle.svg">
            Feature F
          </div>
          <button class="cta">Start Today</button>
        </div>
      </section>


    <!-- Side Links Only -->
    <div class="side-links">
      <a href="https://youtu.be/M_bhZEY6_kM" target="_blank" class="side-link side-link-youtube">
        <i class="fab fa-youtube-square side-link-icon"></i>
        <span class="side-link-text">View Tutorial</span>
      </a>
      <a href="https://github.com/WebDevSimplified" target="_blank" class="side-link side-link-github side-link-icon">
        <i class="fab fa-github-square"></i>
        <span class="side-link-text">View GitHub</span>
      </a>
      <a href="https://twitter.com/DevSimplified" target="_blank" class="side-link side-link-twitter">
        <i class="fab fa-twitter-square side-link-icon"></i>
        <span class="side-link-text">View Twitter</span>
      </a>
    </div>
</body>
</html>
